{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for note in notes %}
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{ note['created'] }}</div>
            <h2 class="card-title h4">{{ note['title'] }}</h2>
            <p>{{ note['content'] |safe }}</p>
                <a class="btn btn-primary" href="{{ url_for('postview', post_id={{ note['id'] }}) }}">Read more →</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
